@media screen and (max-width: 1024px){
 .name_occupation_box {
   top: 200px;

   h3 {
     font-size: 50px;
   }
   h4 {
     font-size: 45px;
   }
 }
}
@media screen and (max-width: 769px){
  .main_menu_wrapper {
    display: block;
    padding: 10px 0;
  }
  .menu_container {
    display: none;
  }
  .menu_btn  {
    display: inline-block;
    float: right;
    position: relative;
    margin: 6px 20px 0 0;
  }
  .logo_box {
    margin: 0 0 0 20px;
  }
  .show_menu {
    display: block;
    height: 100vh;
    position: absolute;
    width:100%;
    background: rgba(0,0,0,0.9);
    opacity: 1;
  }
  .menu_container {
    text-align: center;
    ul {
      width:100%;
      padding:0;
      margin:0;
    }
    li {
      display: block;
    }
  }
  .portfolio_menu  {
    width:100%;
    li {
      width:100%;
      display: block;
      padding:10px;
    }

  }
  .last_img_gallary_wrapper {
    width:33.3%;
  }
  .price_wrapper {
    padding:0 120px;
  }
}
@media screen and (orientation: landscape){
  .menu li {
    padding:20px 10px;
  }
}