@import "helpers/variables";
@import "helpers/animations";
@import "helpers/mixins";
@import "includes/header";

.row.no_mg {
  margin: 0;
}

[class^="col-"].no_pd {
  padding-right: 0;
  padding-left: 0;
}

.container-fluid.no_pd {
  padding-right: 0;
  padding-left: 0;
}

.container.no_pd {
  padding-right: 0;
  padding-left: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.slider {
  img {
    width: 100%;
    height: auto;
  }
}

.main_slider {

  //overflow: hidden;
}

/*
    MAIN SLIDER ARROWS
 */
.main_slider .slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 999;
  top: 40%;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 1px;
  background-color: $colorred;
}

.main_slider .slick-next:focus {
  background-color: $colorred !important;
}

.main_slider .slick-next:hover {
  background-color: $colorred !important;
}

.main_slider .slick-prev {
  left: 5%;
}

.main_slider .slick-next {
  right: 5%;
}

.slick-prev:before, .slick-next:before {
  content: "";
  width: 45px;
  height: 45px;
  display: block;
  background: url(../img/slider-arrows/fa-angle-left.png) center center no-repeat;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before, .slick-prev:before {
  display: block;
  width: 45px;
  height: 45px;
  background: url(../img/slider-arrows/fa-angle-right.png) center center no-repeat;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main_slider .slick-slide:focus {
  outline: 0 !important;
}

/*
  CREATE TRIANGLES
 */
.slider-img-wrapper {
  position: relative;
  overflow: hidden;
  .slider_left_triangle {
    position: absolute;
    z-index: 2222;
    bottom: -55px;
    left: -17px;
    width: 55%;
    height: 165px;
    background: #fff;
    transform: rotate(6deg);
  }
  .camera_box {
    position: absolute;
    z-index: 9999999 !important;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    bottom: 1px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #f5f5f9;
    .fa {
      font-size: 70px;
      margin-top: 28px;
      color: $colorred;
      cursor: pointer;
    }

  }
  .slider_right_triangle {
    position: absolute;
    z-index: 2222;
    bottom: -55px;
    right: -17px;
    width: 55%;
    height: 163px;
    background: #fff;
    transform: rotate(-6deg);
  }
}

.name_occupation_box {
  position: absolute;
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  h3 {
    color: #f4f5f9;
    font-family: "Open Sans", sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .fa {
    color: $colorred;
  }
  h4 {
    margin-top: 40px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.services_list {
  text-align: center;
  .services_name {
    position: relative;
    color: $colordarkgrey;
    &:after {
      content: "";
      display: block;
      width: 41px;
      height: 2px;
      margin: 0 auto;
      margin-top: 19px;
      margin-bottom: 19px;
      background: $colordarkgrey;

    }
  }
  .service_description {
    color: $colorgrey;
  }
}

.about_me_title {
  position: relative;
  margin-left: 30px;
  color: #6a6a6a;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 36px;
    background-color: $colorred;
    top: 2px;
    left: -15px;
  }
}

.my_image_box {
  img {
    width: 100%;
    height: auto;
  }
}

.about_me_text {
  color: $colorgrey;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
    p:first-child {
      text-indent: 1.5em;
    }
}

.see_all_works {
  background: $colorred;
  text-transform: uppercase;
  padding: 10px 15px;

  a {
    @include color-link(#fff);
  }
  &:hover {
    background: $colorred !important;
  }
  &:active {
    background: $colorred !important;
  }
  &:focus {
    background: $colorred !important;
  }

}

.gallary_img_wrapper {
  width: 33%;
  display: inline-block !important;
  float: none !important;
  font-size: 0 !important;
  vertical-align: top;
  margin: 20px 0;
}

/*
  PORTFOLIO MENU
*/
.portfolio_menu_wrapper {
  text-align: center;
  ul {
    display: inline-block;
  }

}

.portfolio_menu {
  li {
    display: inline-block;
    text-transform: uppercase;
    padding: 27px 10px;
    position: relative;
    a {
      @include color-link($colordarkgrey);
      font-size: 14px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
    }
    &:after {
      content: "/";
      color: $colordarkgrey;
      right: -5px;
      position: absolute;
    }

  }
}
section {
  margin-bottom:25px;
}
.portfolio_title {
  margin-top: 100px ;
  position: relative;
  padding-left: 20px;
  color: $colordarkgrey;
    &:after {
      content: "";
      position: absolute;
      left: 5px;
      height: 27px;
      width:4px;
      background: $colorred;
      top:0;
    }
}
.portfolio_wrapper  {
  p {
    font-family: "Open Sans", sans-serif;
    text-indent: 15px;
    color: $colorgrey;
    text-align: justify;
  }

}
.gallary_img_wrapper {
  position: relative;
}
.img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $colorred;
  overflow: hidden;
  width: 100%;
  opacity: 0.8;
  height: 0;
  transition: .5s ease;
  cursor: pointer;
}

.gallary_img_wrapper:hover .img_overlay {
  height: 30%;
}

.gallary_img_wrapper i {
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}