@keyframes menu_underline {
  from {
    width: 0; }
  to {
    width: 100%; } }

.main_menu_wrapper {
  width: 100%;
  position: fixed;
  background: #000;
  opacity: 0.5;
  z-index: 99999;
  padding: 10px 0; }

.logo_box {
  margin-top: 5px; }

/*--------------------------------------------------------*/
.menu {
  position: relative;
  list-style: none;
  font-size: 0;
  margin: 0;
  float: right; }

.menu li {
  display: inline-block;
  padding: 27px 10px; }

.menu li:not(.active_link) a:hover:after {
  position: absolute;
  content: '';
  top: 20px;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 2px;
  background: #111111;
  animation: menu_underline 0.7s; }

.menu a {
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  width: inherit; }

.menu a:link {
  text-decoration: none;
  color: #333333; }

.menu a:visited {
  text-decoration: none;
  color: #333333; }

.submenu {
  position: absolute;
  padding: 0; }

.submenu li {
  display: block;
  width: 165px;
  padding: 0; }

.menu .submenu {
  display: none; }

.menu li:hover .submenu {
  display: block; }

.submenu li {
  background: rgba(255, 255, 255, 0.6); }

.submenu li a {
  padding: 10px;
  width: 100%; }

.submenu li a:hover:after {
  content: none !important; }

.submenu li:hover {
  background: #d84949; }

.active_link a {
  color: #d84949 !important; }

/*--------------------------------------------------------*/
.menu .itemMenu:hover .link:after,
.menu .itemMenu.cur .link:after {
  opacity: 1; }

.menu .itemMenu .link {
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.menu .itemMenu .link:after {
  content: '';
  width: 100%;
  height: 2px;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #606060;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.row.no_mg {
  margin: 0; }

[class^="col-"].no_pd {
  padding-right: 0;
  padding-left: 0; }

.container-fluid.no_pd {
  padding-right: 0;
  padding-left: 0; }

.container.no_pd {
  padding-right: 0;
  padding-left: 0; }

.hide {
  display: none; }

.show {
  display: block; }

.slider img {
  width: 100%;
  height: auto; }

/*
    MAIN SLIDER ARROWS
 */
.main_slider .slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 999;
  top: 40%;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 1px;
  background-color: #e74c3c; }

.main_slider .slick-next:focus {
  background-color: #e74c3c !important; }

.main_slider .slick-next:hover {
  background-color: #e74c3c !important; }

.main_slider .slick-prev {
  left: 5%; }

.main_slider .slick-next {
  right: 5%; }

.slick-prev:before, .slick-next:before {
  content: "";
  width: 45px;
  height: 45px;
  display: block;
  background: url(../img/slider-arrows/fa-angle-left.png) center center no-repeat;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev:before, .slick-prev:before {
  display: block;
  width: 45px;
  height: 45px;
  background: url(../img/slider-arrows/fa-angle-right.png) center center no-repeat;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main_slider .slick-slide:focus {
  outline: 0 !important; }

/*
  CREATE TRIANGLES
 */
.slider-img-wrapper {
  position: relative;
  overflow: hidden; }
  .slider-img-wrapper .slider_left_triangle {
    position: absolute;
    z-index: 2222;
    bottom: -55px;
    left: -17px;
    width: 55%;
    height: 165px;
    background: #fff;
    transform: rotate(6deg); }
  .slider-img-wrapper .camera_box {
    position: absolute;
    z-index: 9999999 !important;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    bottom: 1px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #f5f5f9; }
    .slider-img-wrapper .camera_box .fa {
      font-size: 70px;
      margin-top: 28px;
      color: #e74c3c;
      cursor: pointer; }
  .slider-img-wrapper .slider_right_triangle {
    position: absolute;
    z-index: 2222;
    bottom: -55px;
    right: -17px;
    width: 55%;
    height: 163px;
    background: #fff;
    transform: rotate(-6deg); }

.name_occupation_box {
  position: absolute;
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0; }
  .name_occupation_box h3 {
    color: #f4f5f9;
    font-family: "Open Sans", sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase; }
  .name_occupation_box .fa {
    color: #e74c3c; }
  .name_occupation_box h4 {
    margin-top: 40px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase; }

.services_list {
  text-align: center; }
  .services_list .services_name {
    position: relative;
    color: #6a6a6a; }
    .services_list .services_name:after {
      content: "";
      display: block;
      width: 41px;
      height: 2px;
      margin: 0 auto;
      margin-top: 19px;
      margin-bottom: 19px;
      background: #6a6a6a; }
  .services_list .service_description {
    color: #999999; }

.main_title {
  position: relative;
  margin-left: 30px;
  color: #6a6a6a;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase; }
  .main_title:before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 36px;
    background-color: #e74c3c;
    top: 2px;
    left: -15px; }

.my_image_box img {
  width: 100%;
  height: auto; }

.about_me_text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px; }
  .about_me_text p:first-child {
    text-indent: 1.5em; }

.see_all_works {
  background: #e74c3c;
  text-transform: uppercase;
  padding: 10px 15px; }
  .see_all_works a {
    color: #fff; }
    .see_all_works a:link {
      text-decoration: none;
      color: #fff; }
    .see_all_works a:visited {
      text-decoration: none;
      color: #fff; }
  .see_all_works:hover {
    background: #e74c3c !important; }
  .see_all_works:active {
    background: #e74c3c !important; }
  .see_all_works:focus {
    background: #e74c3c !important; }

.gallary_img_wrapper {
  width: 33%;
  display: inline-block !important;
  float: none !important;
  font-size: 0 !important;
  vertical-align: top;
  margin: 20px 0; }

/*
  PORTFOLIO MENU
*/
.portfolio_menu_wrapper {
  text-align: center; }
  .portfolio_menu_wrapper ul {
    display: inline-block; }

.portfolio_menu li {
  display: inline-block;
  text-transform: uppercase;
  padding: 27px 10px;
  position: relative; }
  .portfolio_menu li a {
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif; }
    .portfolio_menu li a:link {
      text-decoration: none;
      color: #6a6a6a; }
    .portfolio_menu li a:visited {
      text-decoration: none;
      color: #6a6a6a; }

.portfolio_menu li:last-of-type {
  content: none; }

section {
  margin-bottom: 50px; }

.portfolio_page_title {
  margin-top: 100px;
  position: relative;
  padding-left: 20px;
  color: #6a6a6a; }
  .portfolio_page_title:after {
    content: "";
    position: absolute;
    left: 5px;
    height: 27px;
    width: 4px;
    background: #e74c3c;
    top: 0; }

.portfolio_wrapper p {
  font-family: "Open Sans", sans-serif;
  text-indent: 15px;
  color: #999999;
  text-align: justify; }

.gallary_img_wrapper, .last_img_gallary_wrapper {
  position: relative;
  z-index: 25; }

.img_overlay {
  position: absolute;
  bottom: 0;
  z-index: 22;
  left: 0;
  right: 0;
  background-color: #e74c3c;
  overflow: hidden;
  width: 100%;
  opacity: 0.8;
  height: 0;
  transition: .5s ease;
  cursor: pointer; }

.gallary_img_wrapper:hover .img_overlay {
  height: 30%;
  z-index: 22; }

.last_img_gallary_wrapper:hover {
  position: relative;
  background: #e74c3c;
  opacity: 0.5; }

.gallary_img_wrapper i {
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.last_img_gallary_wrapper {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 25%;
  padding: 0;
  margin: 0 -2px; }

.portfolio_title {
  font-family: "Roboto", sans-serif;
  color: #6a6a6a;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase; }

.portfolio_description {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400; }

.last_img_gallary_box {
  text-align: center; }
  .last_img_gallary_box i {
    font-size: 9px;
    color: #e74c3c; }

.price_list_box {
  text-align: center; }
  .price_list_box .price_dot {
    font-size: 9px;
    color: #e74c3c; }

.price_wrapper {
  position: relative; }

.price_description_box {
  background: #f4f5f9;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: -10px;
  padding: 10px;
  min-height: 350px; }
  .price_description_box .price_description_text {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 40px;
    padding: 99px 0 38px 0; }

.price_outter_circle {
  display: block;
  top: 0;
  width: 174px;
  height: 174px;
  border-radius: 50%;
  position: absolute;
  background: #afafb0;
  z-index: 1;
  padding-top: 11px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 118px; }

.price_inner_circle {
  position: absolute;
  background: #fff;
  z-index: 3;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 130px;
  margin: 0 auto; }
  .price_inner_circle span {
    display: inline-block;
    text-align: center;
    margin-top: 18px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: bold; }

.price_equal {
  position: absolute;
  font-size: 24px; }

.col-xs-12:nth-child(odd) div.price_wrapper .price_name_box {
  background: #999999; }

.col-xs-12:nth-child(even) div.price_wrapper .price_name_box {
  background: #e74c3c; }

.col-xs-12:nth-child(even) div.price_wrapper .price_outter_circle {
  background: #ea766b; }

.price_title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0 130px 0; }

.cooperations {
  margin-bottom: 0;
  background: #f4f5f9;
  text-align: center; }
  .cooperations i {
    font-size: 9px;
    color: #e74c3c; }

.adress_info {
  background: #fff;
  padding: 99px 0 94px 91px;
  text-align: left; }

.adress_info_widget {
  margin-top: 50px; }
  .adress_info_widget span {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #e74c3c;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase; }
  .adress_info_widget p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #999999;
    padding: 15px 0 0 0; }
  .adress_info_widget a {
    margin-top: 15px;
    display: inline-block;
    color: #999999; }
    .adress_info_widget a:link {
      text-decoration: none;
      color: #999999; }
    .adress_info_widget a:visited {
      text-decoration: none;
      color: #999999; }
  .adress_info_widget:first-child {
    margin-top: 0; }

.contact_form_box {
  background: #fff;
  padding: 99px 0 94px 91px;
  text-align: left; }

.contacts_box {
  text-align: center; }
  .contacts_box i {
    font-size: 9px;
    color: #e74c3c; }

.footer_wrapper {
  background-color: #202020;
  padding: 20px 0; }

.develoder {
  text-align: right;
  color: #6a6a6a; }
  .develoder a {
    color: #e74c3c; }
    .develoder a:link {
      text-decoration: none;
      color: #e74c3c; }
    .develoder a:visited {
      text-decoration: none;
      color: #e74c3c; }

.social_acons_widget a {
  color: #e74c3c; }
  .social_acons_widget a:link {
    text-decoration: none;
    color: #e74c3c; }
  .social_acons_widget a:visited {
    text-decoration: none;
    color: #e74c3c; }
  .social_acons_widget a:hover {
    color: #999999;
    transition: 1s; }

.social_acons_widget i {
  padding-right: 10px;
  font-size: 20px; }

.tab-content .links > .tab-pane {
  display: none; }

.tab-content .links > .active {
  display: block; }

.to_top {
  position: fixed;
  right: 40px;
  bottom: 50px;
  background: #e74c3c;
  width: 50px;
  height: 45px;
  padding: 6px;
  cursor: pointer;
  text-align: center;
  opacity: 0.8;
  z-index: 99999; }
  .to_top i {
    color: #fff;
    font-size: 30px; }
  .to_top:hover {
    opacity: 1; }

.partner_box_img {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  font-size: 0;
  margin-top: 15px; }

#contactForm button {
  margin-right: 15px;
  background: #e74c3c !important;
  outline: 0;
  border-color: transparent; }

.menu_btn {
  display: none;
  cursor: pointer; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s; }

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* Fade out the second bar */
.change .bar2 {
  opacity: 0; }

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

@media screen and (max-width: 1024px) {
  .name_occupation_box {
    top: 200px; }
    .name_occupation_box h3 {
      font-size: 50px; }
    .name_occupation_box h4 {
      font-size: 45px; } }

@media screen and (max-width: 769px) {
  .main_menu_wrapper {
    display: block;
    padding: 10px 0; }
  .menu_container {
    display: none; }
  .menu_btn {
    display: inline-block;
    float: right;
    position: relative;
    margin: 6px 20px 0 0; }
  .logo_box {
    margin: 0 0 0 20px; }
  .show_menu {
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    opacity: 1; }
  .menu_container {
    text-align: center; }
    .menu_container ul {
      width: 100%;
      padding: 0;
      margin: 0; }
    .menu_container li {
      display: block; }
  .portfolio_menu {
    width: 100%; }
    .portfolio_menu li {
      width: 100%;
      display: block;
      padding: 10px; }
  .last_img_gallary_wrapper {
    width: 33.3%; }
  .price_wrapper {
    padding: 0 120px;
    margin-top: 25px; }
  .slider-img-wrapper .camera_box {
    width: 80px;
    height: 80px;
    bottom: 10px; }
  .slider-img-wrapper .camera_box .fa {
    font-size: 45px;
    margin-top: 16px; }
  .name_occupation_box {
    top: 114px; }
  .services_list {
    margin-top: 15px; }
  .main_title, .portfolio_title {
    font-size: 33px; }
  .main_title::before {
    top: 2px;
    left: -15px; }
  .adress_info, .contact_form_box {
    padding: 25px 0 25px 0; }
  .contact_form_box {
    margin-bottom: 25px; }
  .widget_wrapper {
    text-align: center; }
  .develoder {
    text-align: center;
    padding-top: 15px; }
  .name_occupation_box h3 {
    font-size: 35px; }
  .name_occupation_box h4 {
    font-size: 30px; }
  .service_wrapper {
    margin-top: -20px; }
  .slider-img-wrapper .slider_left_triangle {
    bottom: -100px; }
  .slider-img-wrapper .slider_right_triangle {
    bottom: -100px; } }

@media screen and (max-width: 540px) {
  .name_occupation_box {
    top: 70px; }
    .name_occupation_box h3 {
      font-size: 30px; }
    .name_occupation_box h4 {
      font-size: 28px; }
  .main_slider .slick-prev, .slick-next {
    width: 30px;
    height: 30px; }
  .slick-prev::before, .slick-prev::before {
    width: 30px;
    height: 30px; }
  .slick-next::before, .slick-next::before {
    width: 30px;
    height: 30px; }
  .about_me_text {
    text-align: justify; }
  .price_wrapper {
    padding: 0 40px; }
  .slider-img-wrapper .camera_box {
    width: 50px;
    height: 50px;
    bottom: 0; }
  .slider-img-wrapper .camera_box .fa {
    font-size: 25px;
    margin-top: 12px; }
  .slider-img-wrapper .slider_left_triangle {
    bottom: -128px; }
  .slider-img-wrapper .slider_right_triangle {
    bottom: -128px; }
  .last_img_gallary_wrapper {
    width: 50%; } }

@media screen and (max-width: 480px) {
  .main_menu_wrapper {
    padding: 5px 0; }
  .name_occupation_box {
    top: 55px; }
  .name_occupation_box h3 {
    font-size: 20px; }
  .name_occupation_box h4 {
    margin-top: 14px;
    font-size: 19px; }
  .about_me_text {
    font-size: 16px; }
  .price_wrapper, .contacts_box {
    padding: 0; } }

@media screen and (orientation: landscape) {
  .menu li {
    padding: 20px 10px; } }
